<a ui-sref="home">Return home</a><span> > </span><a ui-sref="categories">Browse categories</a>
<h4>Items in the category {{ itemsCtrl.categoryShortName }}</h4>
<div class="container">
    <div class="row col-md-8">
        <table ng-if="itemsCtrl.items.length" class="table table-striped">
            <thead>
            <th> Id</th>
            <th> Short name</th>
            <th> Name</th>
            <th> Description</th>
            </thead>
            <tbody>
            <tr ng-repeat="item in itemsCtrl.items">
                <td> {{item.id}}</td>
                <td> {{item.short_name}}</td>
                <td> {{item.name}}</td>
                <td> {{item.description}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>